{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {{ super() }}
    Login
{% endblock %}


{% block head %}
{% block styles %}
  {{ super() }}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/login.css')}}">

{% endblock %}
{% endblock %}

{% block content %}
  <div class="login">
    <h1>Login</h1>
      <form  method="post">
        {{ login_form.csrf_token }}
        {{ login_form.username(placeholder="username")}}
        {{ login_form.password(placeholder="password") }}
        {{ login_form.submit(class="btn btn-primary btn-block btn-large") }}
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
  </div>
{% endblock %}