{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
    {{ super() }}
    {{username}}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/comment.css')}}">

{% endblock %}

{% block content %}

{% if username %}
    <h1>hola {{ username }}</h1>
{% endif %}

<!--add comment-area-->
{% if username == current_user.id %}
<h3 class="heading">Add A Comment Below</h3>
  <div class="container">
    <form>
      <div class="form-group">
        <textarea class="form-control status-box" rows="3" placeholder="Enter your comment here..."></textarea>
      </div>
    </form>
    <div class="button-group pull-right">
      <p class="counter">250</p>
      <a href="#" class="btn btn-primary">Post</a>
    </div>
    <ul class="posts">
    </ul>
  </div>
{% endif %}



<!--todos-->
<ul>
    {% for todo in get_comment %}
        {{macros.render_comment(todo, username)}}
    {% endfor %}
</ul>
{% endblock %}




{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='scripts.js')}}"></script>
{% endblock %}