{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
    {{ super() }}
    {{username}}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/comment.css')}}">

{% endblock %}

{% block content %}

{% if username %}
    <h1>hola {{ username }}</h1>
{% endif %}

<!--add comment-area-->
{% if username == current_user.id %}
<h3 class="heading">Add A Comment Below</h3>
  <div class="container">
    <form method="post">
        {{ public_post.csrf_token }}
      <div class="form-group">
        {{public_post.comment(class="form-control status-box", rows="3", placeholder="Enter your comment here...")}}
      </div>
    
    <div class="button-group pull-right">
      <p class="counter">250</p>
      {{public_post.submit(class="btn btn-primary")}}
    </div>
</form>
    <ul class="posts">
    </ul>
  </div>
{% endif %}



<!--todos-->
<ul>
    {% for todo in get_comment %}
        {{macros.render_comment(todo, username, current_user)}}
    {% endfor %}
</ul>
{% endblock %}




{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='scripts.js')}}"></script>
{% endblock %}